* {
	font-family: Arial;
}

#info {text-align: center;}

h2, h3, h4, h5, h6, h7 {
	font-size: 80%;
}

table {width: 100%;}

th {background-color: cornflowerblue;}

tr:nth-child(even) {background-color: #f2f2f2;}

th, td {border-bottom: 1px solid #ddd;}

