* {
	font-family: Arial;
}

#info {text-align: center;}

table {width: 100%;}

th {background-color: cornflowerblue;}

tr:nth-child(even) {background-color: #f2f2f2;}

th, td {border-bottom: 1px solid #ddd;}

